body {
    width: 95vw;
    height: 95vh;
    overflow: hidden;
    background: #35095e;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .board {
    border: 2px solid rgb(107, 64, 64);
    box-shadow: 0 0 7px rgb(131, 52, 52);
  }
  
  .container {
    width: 90%;
    height: 100%;
    position: absolute;
  }